---
layout: default
title: Blog Categories
---

                <div class="row">

                    <h2>{{ page.title }}</h2>

                </div>

                <div class="row">

                    <div class="list-group">

                        {% assign categories = site.blog | group_by: 'category' | sort: "name" %}

                        {% for category in categories %}

                        <a class="list-group-item list-group-item-action" href="#{{ category.name }}">{{ category.name }}</a>

                        {% endfor %}

                    </div>

                </div>

                <div class="row">

                    {% assign categories = site.blog | group_by: 'category' | sort: "name" %}

                    {% for category in categories %}

                    <h3 id="{{ category.name }}"">{{ category.name }}</h3>

                    {% for post in category.items %}

                    <div class="list-group">

                        <a class="list-group-item list-group-item-action" data-toggle="tooltip" title="Posted {{ post.date | date: "%-d %B %Y" }}" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>

                    </div>

                    {% endfor %}

                    {% endfor %}

                </div>

                <div class="row">&nbsp;</div>
