
            <header aria-hidden="true" class="no-print row gx-5">

                <nav role="navigation" aria-hidden="true">

                    <div class="list-group list-group-horizontal" style="border: 0">

                        {% for item in site.data.nav.links %}

                        <a class="list-group-item link-warning mx-auto d-block"  style="border: 0" href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.title }}</a>

                        {% endfor %}

                    </div>

               </nav>

            </header>
