---
layout: default
---

                <div class="row">

                    <h2>{{ page.title }}</h2>

                </div>

                <div class="row">

                    <p class="fst-italic text-end">

                        An aki.guide <a href="{{ site.url }}/blog/">blog</a> entry by {{page.author}} posted on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d %B %Y" }}</time> in <a href="{{ site.url }}/categories/#{{page.categories}}">{{page.categories}}</a>.

                    </p>

                <section class="blog">

                    <div class="row">

                        {{ content }}

                    </div>

                    <div class="row">&nbsp;</div>

                </section>

                <div class="row">&nbsp;</div>
