---
layout: default
---

                <section class="post">

                    <h2>{{ page.title }}</h2>

                    <p class="fst-italic text-end">

                        An aki.guide <a href="{{ site.url }}/blog/">blog</a> entry by C-Drive posted on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d %B %Y" }}</time> in <a href="{{ site.url }}/blog/{{page.categories}}">{{page.categories}}</a>.

                    </p>

                    {{ content }}

                    <div class="row gx-5">&nbsp;</div>

                </section>

            <div class="row gx-5">&nbsp;</div>
