<!DOCTYPE html>

<html lang="en" data-bs-theme="dark" >

  {% include head.html %}

  <body>

    <main>

        <div class="container-sm" style="max-width: 960px;">

            <div class="text-center">

            <a href="{{ site.url }}"><img alt="{{ site.title }}" class="img-fluid" src="{{ site.logo | relative_url }}" /></a>

            </div>

            {% include nav.html %}

            <div class="row gx-5">&nbsp;</div>

            <div class="row gx-5">

                {{ content }}

            </div>

        </div>

    </main>

  </body>

</html>
