---
layout: default
---

                {% if page.logo == null %}

                <div class="row">

                    <h2>{{ page.title }}</h2>

                </div>

                {% else %}

                <div class="row">

                    <img class="centered-img" alt="{{ page.title }}" src="{{ site.url}}/assets/img/logo_{{ page.logo }}.png" />

                </div>

                {% endif %}

                <section class="page">

                    <div class="row">

                        {{ content }}

                    </div>

                </section>

                <div class="row">&nbsp;</div>
