---
layout: default
---

                <div class="row">

                    <h2>{{ page.title }}</h2>

                </div>

                <section class="post">

                    <div class="row">

                        {{ content }}

                    </div>

                    <div class="row">&nbsp;</div>

                    <div class="row meta-container">

                        <div class="meta" style:="">

                            <time datetime="{{ page.date | date_to_xmlschema }}">

                                {{ page.date | date: "%-d %B %Y" }}

                            </time>

                            &nbsp;&nbsp;&nbsp;

                            {% for tag in page.tags %}

                            <a href="{{ site.url }}/tags/#{{tag}}">#{{tag}}</a>

                            {% unless forloop.last %}

                            &nbsp;&nbsp;&nbsp;

                            {% endunless %}

                            {% endfor %}

                        </div>

                    </div>

                </section>

                <div class="row">&nbsp;</div>
