---
layout: default
---

                <section class="post">

                    <h2>#{{page.tag}}</h2>

                    <div class="list-group">

                        {% for post in site.posts %}

                        {% if post.tags contains page.tag %}

                        <a class="list-group-item list-group-item-action" style="padding: .5rem" data-toggle="tooltip" title="Posted {{ post.date | date: "%-d %B %Y" }}" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>

                        {% endif %}

                        {% endfor %}

                    </div>

                </section>
